<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="web/images/favicon.png">
	<title>Deposit | Crypto-Exchangerz</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/datepicker3.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	<link href="css/deposit.css" rel="stylesheet">

	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i"
		rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>Crypto-</span><strong>Exchangerz</strong></a>
				<div class="user-icon">
					<i class="fa fa-user-circle-o fa-2x user" aria-hidden="true"></i>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name"><%= firstname %></div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<ul class="nav menu">
			<li class="active"><a href="/tradecenter"><em class="fa fa-bar-chart">&nbsp;</em> Trade Center</a></li>
			<li><a href="/profile"><em class="fa fa-user">&nbsp;</em> Profile</a></li>
			<li><a href="/deposit"><em class="fa fa-btc">&nbsp;</em> Deposit</a></li>
			<li><a href="/withdrawal"><em class="fa fa-money">&nbsp;</em> Withdrawal</a></li>
			<li><a href="/upgradeaccount"><em class="fa fa-arrow-up">&nbsp;</em> Upgrade Account</a></li>
			<li><a href="/login"><em class="fa fa-sign-out">&nbsp;</em> Logout</a></li>
		</ul>
	</div>
	<!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
						<em class="fa fa-home"></em>
					</a></li>
				<li class="active">Deposit Funds</li>
			</ol>
		</div>
		<!--/.row-->

		<div class="row header-title">
			<div class="col-lg-12">
				<h3 class="page-header">Deposit Funds</h3>
			</div>
		</div>

		<div class="header-paragraph">
			Make your first deposit with any of the following methods immediately your deposit has been confirmed.
		</div>
		<div class="row">
			<div class="col-md-3 bit-coin bg">
				<div class="bt-img">
					<img class="img" src="./img/phonebitcoin.webp" alt="bit-coin img">
				</div>
				<button class="choose-this" data-toggle="modal" data-target="#exampleModal1">Choose This</button>

				<!--Modal content-->

				<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Deposit Funds</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								All Bitcoin payments should be sent to the bitcoin address below:
								<strong>1L8Rt3HcCYvzLp5yxJRm9XtSzRntxNGNHH</strong>
								Once we confirm your payment, your account will be funded instantly.
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 skrill bg">
				<div class="sk-img">
					<img class="img" src="./img/skrill.jpg" alt="skrill img">
				</div>
				<button class="choose-this" data-toggle="modal" data-target="#exampleModal2">Choose This</button>

				<!--Modal content-->

				<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Deposit Funds</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								If you wish to fund your Crypto-Exchangerz account via this method, please contact our
								 Live Chat agent to receive the appropriate payment details. Alternatively, you can 
								 contact your Account Manager to help you fund your account. 
								 Thanks for choosing Crypto-Exchangerz.
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 west-union bg">
				<div class="wu-img">
					<img class="img-wu" src="./img/westernunion.jpg" alt="western union img">
				</div>
				<button class="choose-this" data-toggle="modal" data-target="#exampleModal3">Choose This</button>

				<!--Modal content-->

				<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Deposit Funds</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								If you wish to fund your Crypto-Exchangerz account via this method, please contact our
								 Live Chat agent to receive the appropriate payment details. Alternatively, you can 
								 contact your Account Manager to help you fund your account. 
								 Thanks for choosing Crypto-Exchangerz.
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 money-gram bg">
				<div class="mg-img">
					<img class="img-mg" src="./img/moneygram.jpg" alt="money gram img">
				</div>
				<button class="choose-this" data-toggle="modal" data-target="#exampleModal4">Choose This</button>

				<!--Modal content-->

				<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Deposit Funds</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								If you wish to fund your Crypto-Exchangerz account via this method, please contact our
								 Live Chat agent to receive the appropriate payment details. Alternatively, you can 
								 contact your Account Manager to help you fund your account. 
								 Thanks for choosing Crypto-Exchangerz.
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			© 2020 Crypto-Exchangerz. All Rights Reserved.
		</div>
	</div>
	<!--/.main-->




	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/custom.js"></script>
	<script>
		window.onload = function () {
			var chart1 = document.getElementById("line-chart").getContext("2d");
			window.myLine = new Chart(chart1).Line(lineChartData, {
				responsive: true,
				scaleLineColor: "rgba(0,0,0,.2)",
				scaleGridLineColor: "rgba(0,0,0,.05)",
				scaleFontColor: "#c5c7cc"
			});
			var chart2 = document.getElementById("bar-chart").getContext("2d");
			window.myBar = new Chart(chart2).Bar(barChartData, {
				responsive: true,
				scaleLineColor: "rgba(0,0,0,.2)",
				scaleGridLineColor: "rgba(0,0,0,.05)",
				scaleFontColor: "#c5c7cc"
			});
			var chart3 = document.getElementById("doughnut-chart").getContext("2d");
			window.myDoughnut = new Chart(chart3).Doughnut(doughnutData, {
				responsive: true,
				segmentShowStroke: false
			});
			var chart4 = document.getElementById("pie-chart").getContext("2d");
			window.myPie = new Chart(chart4).Pie(pieData, {
				responsive: true,
				segmentShowStroke: false
			});
			var chart5 = document.getElementById("radar-chart").getContext("2d");
			window.myRadarChart = new Chart(chart5).Radar(radarData, {
				responsive: true,
				scaleLineColor: "rgba(0,0,0,.05)",
				angleLineColor: "rgba(0,0,0,.2)"
			});
			var chart6 = document.getElementById("polar-area-chart").getContext("2d");
			window.myPolarAreaChart = new Chart(chart6).PolarArea(polarData, {
				responsive: true,
				scaleLineColor: "rgba(0,0,0,.2)",
				segmentShowStroke: false
			});
		};
	</script>

</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
	var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
	(function () {
		var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
		s1.async = true;
		s1.src = 'https://embed.tawk.to/5e9e944b35bcbb0c9ab3231d/default';
		s1.charset = 'UTF-8';
		s1.setAttribute('crossorigin', '*');
		s0.parentNode.insertBefore(s1, s0);
	})();
</script>
<!--End of Tawk.to Script-->

</body>

</html>